doctype
html
	head
		title Hello
		link(href="/css/main.css" rel="stylesheet")
		link(href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon" )
	body
		div.wrapper
			ul.menu
				li
					a(href="/") home
				li
					a(href="/about") about
	
		block main-content	 